<div class="ui center aligned basic segment">
    <div class="ui left icon action input">
      <i class="search icon"></i>
      <!-- <input type="text" placeholder="Search Wikipedia" #vada (input)="userInput(vada.value)"> -->
      <form (submit)="onFormSubmitKuchBhi($event)">
        <div class="ui input">
      <input class="" type="text" placeholder="Search Wikipedia" #sritika (input)="term=sritika.value" >
        </div>
        <button class="ui grey submit button">Search</button>
      
   
    </form>
</div>