.vector-feature-zebra-design-disabled .vector-header-container {
    max-width: 99.75em;
    min-width: 31.25em;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #ffffff;
    box-sizing: border-box;
}


div {
    display: block;
}
